<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

</head>
<body>

<header th:replace="layout/layout :: header"></header>
<div class="container py-4">

    <div class="card bg-light">
        <div class="card-header" th:text="${tituloDetalle}"></div>
        <div class="card-body">
            <h4 class="card-title"></h4>
            <form th:action="@{donacion/form}" } th:object="${donacion}" method="post"/>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" th:text="'Jugador'"></label>
                <div class="col-sm-6">
            <input th:value="${donacion.jugadorEntity.nombre} + ' ' + ${donacion.jugadorEntity.apellido1}"
                   class="form-control" disabled='disabled'>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label" th:text="'descripcion'"></label>
                <div class="col-sm-6">
                    <input type="text" th:field="*{donacion.descripcion}" class="form-control"/>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" th:text="'observacion'"></label>
                <div class="col-sm-6">
                    <textarea th:field="*{donacion.descripcion}" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-6">
                    <input type="submit" th:value="${titulo}" class="btn btn-secondary"/>
                </div>
            </div>

            </form>
        </div>
    </div>
</div>

<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>