<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
<header th:replace="layout/layout :: header"></header>
    </div>
</nav>
<!--Empieza el formulario-->

<div class="container">
<!--inicio lista de errores-->

    <!-- llamamos al objeto del formulario.-->

    <div th:object="${jugadorEntity}" th:remove="tag">
        <!-- preguntamos si existe errores en algún campo-->

        <ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger"
            role="alert">
            <!--Recorremos la lista y si existe lo pintamos.-->

            <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
<!--FIN lista de errores-->
<!--COMIENZO DEL FORMULARIO DE ENTRADA-->
    <h1 class="text-secondary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulo}"></h1>
    <form th:action="@{/form}" th:object="${jugadorEntity}" method="post" enctype="multipart/form-data">

        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">Nombre</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{nombre}" class="form-control"  th:errorclass="'form-control alert-danger'"/>
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('nombre')}"
                       th:errors="*{nombre}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">1º Apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido1}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('apellido1')}"
                       th:errors="*{apellido1}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">2º apellido</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{apellido2}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('apellido2')}"
                       th:errors="*{apellido2}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">dni</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{dni}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('dni')}"
                       th:errors="*{dni}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">dorsal</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{dorsal}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('dorsal')}"
                       th:errors="*{dorsal}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class=" col-sm-2 col-form-label">Email</label>
            <div class="col-sm-6">
                <input type="text" th:field="*{mail}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('mail')}"
                       th:errors="*{mail}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">inscripcion</label>
            <div class="col-sm-6">
                <input type="text"  th:field="*{inscripcion}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('inscripcion')}"
                       th:errors="*{inscripcion}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">nacimiento</label>
            <div class="col-sm-6">
                <input type="text"  th:field="*{nacimiento}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('nacimiento')}"
                       th:errors="*{nacimiento}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">edad</label>
            <div class="col-sm-6">
                <input type="text"  th:field="*{edad}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('edad')}"
                       th:errors="*{edad}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">nacionalidad</label>
            <div class="col-sm-6">
                <input type="text"  th:field="*{nacionalidad}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('nacionalidad')}"
                       th:errors="*{nacionalidad}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">telefono</label>
            <div class="col-sm-6">
                <input type="text"  th:field="*{telefono}" class="form-control" th:errorclass="'form-control alert-danger'"/>
                <!--Con la etiqueta de th:if preguntamos si tiene errores el campo en concreto y los mostramos-->
                <small class="form-text text-danger"
                       th:if="${#fields.hasErrors('telefono')}"
                       th:errors="*{telefono}">
                </small>
            </div>
        </div>
        <div class="form-group row">
            <label for="file" class="col-sm-2 col-form-label">Foto</label>
            <div class="col-sm-6">
                <input type="file" name="file" class="form-control"/>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" th:value="${titulo}" class="btn btn-primary"/>
        </div>
       <!-- <input type="hidden" th:field="*{id}"/> se usa para pasar el ID al back aunque es poco seguro, POR
       ESE MOTIVO USAMES EN EL BACK EL OBJETO SESSIÓN-->
    </form>
</div>
    <!--TERMINA DEL FORMULARIO DE ENTRADA-->
    <footer th:replace="layout/layout :: footer"></footer>
</div>
</body>
</html>