<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css">
</head>

<body>
<!-- menu de navegación -->
<nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../static/img/escudo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo UDT">
        U.D.T
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav mr-auto ml-auto">
            <a class="nav-item nav-link active" href="/login.html">Login</a>
            <a class="nav-item nav-link" href="#">Calendario</a>
            <a class="nav-item nav-link" href="#">Clasificación</a>
            <a class="nav-item nav-link" href="/goleadores.html">Goleadores</a>
            <a class="nav-item nav-link" href="/galeria.html">Galería</a>
        </div>
        <div class="d-flex flex-row  justify-content-center ">
            <a href="#" class="btn btn-outline-primary mr-2 ">F</a>
            <a href="#" class="btn btn-outline-danger">Y</a>
        </div>
    </div>
</nav>
<!-- FIN menu de navegación -->
<!-- TABLA DE GOLEADORES -->
<div class="container col-auto">
    <h2>MAXIMOS GOLEADORES</h2>
    <input id="myInput" type="text" placeholder="BUSCAR" class="">
    <br><br>
</div>
<div id="boom" class="collapse show">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">PUESTO</th>
                <th scope="col">NOMBRE</th>
                <th scope="col">APELLIDO</th>
                <th scope="col">EQUIPO</th>
                <th scope="col">GOLES</th>

            </tr>
            </thead>
            <tbody id="myTable">
            <tr>
                <th scope="row">1</th>
                <td>Raj</td>
                <td>Girish</td>
                <td>ceuta</td>
                <td>100</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Mohan</td>
                <td>viraj</td>
                <td>melilla</td>
                <td>59</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Jainish</td>
                <td>ratan</td>
                <td>brasil</td>
                <td>35</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Tom</td>
                <td>taragabuena</td>
                <td>28</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Rohan</td>
                <td>Prithvi</td>
                <td>UDT</td>
                <td>10</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Vikram</td>
                <td>Girish</td>
                <td>Morales</td>
                <td>5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-end mr-4">
    <button type="button" class="btnS" data-toggle="collapse" data-target="#boom">Ocultar</button>
</div>
<!-- FIN DE TABLA DE GOLEADORES -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>