<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.css"/>
</head>

<body>
<!-- menu de navegación -->
<nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="../static/img/escudo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo UDT">
        U.D.T
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <div class="navbar-nav mr-auto ml-auto">
            <a class="nav-item nav-link active" href="futuro/login.html">Login</a>
            <a class="nav-item nav-link" href="#">Calendario</a>
            <a class="nav-item nav-link" href="#">Clasificación</a>
            <a class="nav-item nav-link" href="futuro/goleadores.html">Goleadores</a>
            <a class="nav-item nav-link" href="futuro/galeria.html">Galería</a>
        </div>
        <div class="d-flex flex-row  justify-content-center ">
            <a href="#" class="btn btn-outline-primary mr-2 ">F</a>
            <a href="#" class="btn btn-outline-danger">Y</a>
        </div>
    </div>
</nav>
<!-- FIN menu de navegación -->
<!-- TABLA DE GOLEADORES -->
<div class="container col-auto">
    <h2> PLANTILLA UDT</h2>
    <input id="myInput" type="text" placeholder="BUSCAR" class=""/>
    <br><br>
</div>
<div id="boom" class="collapse show">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">dni</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido1</th>
                <th scope="col">apellido2</th>
                <th scope="col">edad</th>
                <th scope="col">dorsal</th>

            </tr>
            </thead>
            <tbody id="myTable">
            <tr th:each="jugador: ${jugadores}">
                <th scope="row">1</th>
                <td th:text="${jugador.id}"></td>
                <td th:text="${jugador.dni}></td>
                <td th:text="${jugador.nombre}></td>
                <td th:text="${jugador.apellido1}></td>
                <td th:text="${jugador.apellido2}></td>
                <td th:text="${jugador.edad}></td>
                <td th:text="${jugador.dorsal}></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>
<div class="d-flex justify-content-end mr-4">
    <button type="button" class="btnS" data-toggle="collapse" data-target="#boom">Ocultar</button>
</div>
<!-- FIN DE TABLA DE GOLEADORES -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../static/js/bootstrap.js"></script>
</body>
</html>