<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="../css/sancionados.css">
     <!-- Required meta tags -->
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="../css/bootstrap.min.css">
 


  <!--
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>-->

</head>
<body>
    <form>
        <div class="form-group">
          <label for="nomJugadorSancionado">Nombre del sancionado</label>
          <input type="text" class="form-control" id="nomJugadorSancionado" placeholder="Nombre del jugador">
        </div>
        <div class="form-group">
          <label for="numTarjetas">Número de tarjetas</label>
          <select class="form-control" id="numTarjetas">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="rojas" id="rojas" value="option1">
            <label class="form-check-label" for="rojas">
              Tarjeta Roja.
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="amarilla" id="amarilla" value="option2">
            <label class="form-check-label" for="amarilla">
              Tarjeta Amarilla.
            </label>
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
      </form>

<div class="container">
 <table class="table">
    <thead>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Sanción</th>
        <th>Tarjetas</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-success">
      <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../img/jugadores/01.png"> </td> 
        <td style="vertical-align:middle !important;">Federico garcía</td>
        <td style="vertical-align:middle !important;">libre</td>
        <td style="vertical-align:middle !important;">0</td>
      </tr>
      <tr class="table-danger">
        <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../img/jugadores/02.png"> </td> 
        <td style="vertical-align:middle !important;">Eusebio madridanoa</td>
        <td style="vertical-align:middle !important;">2 partidos</td>
        <td style="vertical-align:middle !important;">1Roja</td>
      </tr>
      <tr class="table-warning">
        <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../img/jugadores/03.png"> </td> 
        <td style="vertical-align:middle !important;">Joselete eltirao</td>
        <td style="vertical-align:middle !important;"></td>
        <td style="vertical-align:middle !important;">1 amarilla</td>
      </tr>
    </tbody>
  </table>
</div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="../js/bootstrap.min.js" ></script>


</body>
</html>