<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

                <title>Bootstrap Example</title>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1">
               

                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" type="text/css" href="../static/css/sancionados.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">

                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
                 <!-- Bootstrap CSS -->
   
              </head>
    
              
<body>
      
              
              <hr>
              <div class="container bootstrap snippet">
                  <div class="row">
                        <div class="col-sm-10"><h1>Zona Técnica</h1></div>
                      <div class="col-sm-2"><a href="backOffice.html" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/avatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>
                  </div>
                  <div class="row">
                        <div class="col-sm-3"><!--left col-->
                    
              
                    <div class="text-center">
                      <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
                      <h6>Agregar foto....</h6>
                      <input type="file" class="text-center center-block file-upload">
                    </div></hr><br>
              
                             
                        <div class="panel panel-default">
                          <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
                          <div class="panel-body"><a href="#">UDToresana.com</a></div>
                        </div>
                        
                        
                    <!--    <ul class="list-group">
                          <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i></li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Shares</strong></span> 125</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Likes</strong></span> 13</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Posts</strong></span> 37</li>
                          <li class="list-group-item text-right"><span class="pull-left"><strong>Followers</strong></span> 78</li>
                        </ul> -->
                             
                        <div class="panel panel-default">
                          <div class="panel-heading">Social Media</div>
                          <div class="panel-body">
                              <i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
                          </div>
                        </div>
                        
                      </div><!--/col-3-->
                      <div class="col-sm-9">
                          <ul class="nav nav-tabs">
                              <li class="active"><a data-toggle="tab" href="#home">Registro de jugadores</a></li>
                              <li><a data-toggle="tab" href="#messages">Goleadores</a></li>
                              <li><a data-toggle="tab" href="#settings">Sancionados</a></li>
                            </ul>
              
                            
                        <div class="tab-content">
                          <div class="tab-pane active" id="home">
                              <hr>
                                <form class="form" action="##" method="post" id="registrationFormu">
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                            <label for="first_name"><h4>Nombre</h4></label>
                                            <input type="text" class="form-control" name="first_name" id="first_name" placeholder="Nombre" title="Introduce el Nombre">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                          <label for="last_name"><h4>Apellidos</h4></label>
                                            <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Apellidos" title="Introduce los Apellidos">
                                        </div>
                                    </div>
                        
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                            <label for="phone"><h4>Télefono</h4></label>
                                            <input type="text" class="form-control" name="phone" id="phone" placeholder="Teléfono" title="introduce teléfono">
                                        </div>
                                    </div>
                        
                                    <div class="form-group">
                                        <div class="col-xs-6">
                                           <label for="edad"><h4>Edad</h4></label>
                                            <input type="number" class="form-control" name="edad" id="edad" placeholder="Edad" title="Introduce la edad">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                            <label for="posicion"><h4>Posición</h4></label>
                                            <input type="text" class="form-control" name="posicion" id="posicion" placeholder="Posición" title="Introduce la posición">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                            <label for="email"><h4>Email</h4></label>
                                            <input type="email" class="form-control" id="email" placeholder="yo@ejemplo.com" title="Introduce el email">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                            <label for="localidad"><h4>Localidad</h4></label>
                                            <input type="text" class="form-control" name="localidad" id="localidad" placeholder="localidad" title="Introduce la localidad">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <div class="col-xs-6">
                                          <label for="data"><h4>Fecha de Nacimiento</h4></label>
                                            <input type="date" class="form-control" name="nacimiento" id="nacimiento" placeholder="Fecha Nacimiento" title="Introduce la fecha Nacimiento">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <div class="col-xs-12">
                                              <br>
                                                <button class="btn btn-lg btn-success" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                 <button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                                          </div>
                                    </div>
                                </form>
                            
                            <hr>
                            
                           </div><!--/tab-pane-->
                           <div class="tab-pane" id="messages">
                             
                             <h2>Goleadores Locales</h2>
                             
                                    <input type="text" id="one" placeholder="Dorsal">
                                    <input type="text" id="two" placeholder="Nombre">
                                    <input type="number" id="three" placeholder="Goles">
                                    <button onclick="add()">Añadir</button>
                                    <button onclick="update()">Actualizar</button>

                                <table class="table table-bordered">
                                    <thead>
                                        <th>ID</th>
                                        <th>Dorsal</th>
                                        <th>Nombre</th>
                                        <th>Goles</th>
                                        <th>Action</th>
                                    </thead>
                                    <tbody id="data">

                                    </tbody>

                                </table>

                             
                           </div><!--/tab-pane-->
                           <div class="tab-pane" id="settings">
                                  
                                 
                                <hr>
                                <form class="form" action="##" method="post" id="registrationForm">
                                        <form class="formu">
                                                <div class="form-group">
                                                  <label for="nomJugadorSancionado">Nombre del sancionado</label>
                                                  <input type="text" class="form-control" id="nomJugadorSancionado" placeholder="Nombre del jugador">
                                                </div>
                                                <div class="form-group">
                                                  <label for="numTarjetas">Número de tarjetas</label>
                                                  <select class="form-control" id="numTarjetas">
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                  </select>
                                                </div>
                                                        <div class="col-75">
                                                                <select id="country" name="country">
                                                                  <option value="australia">Roja</option>
                                                                  <option value="canada">Amarilla</option>
                                                                </select>
                                                <div class="form-group">
                                                  <label for="exampleFormControlTextarea1">Example textarea</label>
                                                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                                </div>
                                              </form>
                                        
                                        <div class="container">
                                         <table class="table">
                                            <thead>
                                              <tr>
                                                <th>Foto</th>
                                                <th>Nombre</th>
                                                <th>Sanción</th>
                                                <th>Tarjetas</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr class="table-success">
                                              <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../static/img/jugadores/01.png"> </td>
                                                <td style="vertical-align:middle !important;">Federico garcía</td>
                                                <td style="vertical-align:middle !important;">libre</td>
                                                <td style="vertical-align:middle !important;">0</td>
                                              </tr>
                                              <tr class="table-danger">
                                                <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../static/img/jugadores/02.png"> </td>
                                                <td style="vertical-align:middle !important;">Eusebio madridanoa</td>
                                                <td style="vertical-align:middle !important;">2 partidos</td>
                                                <td style="vertical-align:middle !important;">1Roja</td>
                                              </tr>
                                              <tr class="table-warning">
                                                <td style="vertical-align:middle !important;"><img class="foto_jugador" src="../static/img/jugadores/03.png"> </td>
                                                <td style="vertical-align:middle !important;">Joselete eltirao</td>
                                                <td style="vertical-align:middle !important;"></td>
                                                <td style="vertical-align:middle !important;">1 amarilla</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                    <div class="form-group">
                                         <div class="col-xs-12">
                                              <br>
                                                <button class="btn btn-lg btn-success pull-right" type="submit"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                                                 <!--<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>-->
                                          </div>
                                    </div>
                                </form>
                            </div>
                             
                            </div><!--/tab-pane-->
                        </div><!--/tab-content-->
              
                      </div><!--/col-9-->
                  </div><!--/row-->
                  <script src="../static/js/regJugador.js"></script>
                  <script src="../static/js/bootstrap.js"></script>
                  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
                  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
</body>
</html>