<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/css/bootstrap.css">
    <style>
      .slider{
        background: url(../../static/img/jugadores/balon.jpg);
        height: 100vh;
        background-size: cover;
        background-position: center;
      }
    </style>
  
  </head>
  <body>
    <section class="container-fluid slider d-flex justify-content-center align-items-center">
        <h1 class="display-4 font-weight-bold font-italic">UNIÓN DEPORTIVA TORESANA </h1>
    </section>
<!-- menu de navegación -->
    <nav class="navbar navbar-dark bg-dark navbar-expand-sm sticky-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <a class="navbar-brand" href="index.html">
          <img src="../../static/img/escudo.jpg" width="30" height="30" class="d-inline-block align-top" alt="Logo UDT">
          U.D.T
        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <div class="navbar-nav mr-auto ml-auto">
              <a class="nav-item nav-link active" href="login.html">Login</a>
              <a class="nav-item nav-link active" href="zona-tecnica.html">Zona tecnica</a>
              <a class="nav-item nav-link" href="#">Calendario</a>
              <a class="nav-item nav-link" href="#">Clasificación</a>
              <a class="nav-item nav-link" href="goleadores.html">Goleadores</a>
              <a class="nav-item nav-link" href="galeria.html">Galería</a>
            </div>
            <div class="d-flex flex-row  justify-content-center ">
              <a href="#" class="btn btn-outline-primary mr-2 ">F</a>
              <a href="#" class="btn btn-outline-danger">Y</a>
            </div>
        </div>
      </nav>
      <!-- Fin del menu -->
      <!-- Cards -->
      <section class="container mt-5 pt-5">
      <div class="card-deck">
        <div class="card">
          <img class="card-img-top img-fluid" src="../../static/img/portada1.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Noticias importantes</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In sequi corrupti praesentium? Voluptates deserunt quo consequatur ipsam nesciunt, eius officia temporibus dolore asperiores odit, harum aut doloribus optio neque aperiam?.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Link</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="../../static/img/escudo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">CRONICAS</h5>
            <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deserunt iste labore, quo iusto ipsam rem distinctio maiores voluptate, nostrum consequatur fuga. Ratione hic laudantium natus minima cupiditate, ducimus obcaecati vero!.</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Link</button>
          </div>
        </div>
        <div class="card">
          <img class="card-img-top img-fluid" src="../../static/img/escudo.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">OPINION DEL ENTRENADOR</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus laborum blanditiis similique suscipit nemo minima quas odit veritatis, nihil vel quis, corrupti architecto ex repellat, temporibus reprehenderit beatae repudiandae. Incidunt?</p>
          </div>
          <div class="card-footer">
            <button type="button" class="btn btn-primary">Link</button>
          </div>
        </div>
      </div>
    </section>
       <!-- Fin Cards -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
  </body>
</html>